doctype html
html(lang='en')
  head
  body
    style.
      body {
        margin: 0;
      }
      #embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 95%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
      }
    div(id="embed-container")
      block iframe
