doctype html
html(lang='en')
  head
    script(src="https://unpkg.com/@microsoft/teams-js@1.3.5/dist/MicrosoftTeams.min.js" integrity="sha384-3zTjxw3msc6gKx3DseSU0lfRM129YrFjr2xgocfMIN/kBCdzJ88d+FSB1n3scUku" crossorigin="anonymous")
  body
    style.
      body {
        margin: 0;
      }
      #embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 95%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
      }
    script.
      microsoftTeams.initialize();

      // Handle the Esc key
      document.onkeyup = function(event) {
        if (event.key === 27) {
          microsoftTeams.submitTask(null);
        }
      }
    div(id="embed-container")
      block iframe
