doctype html
html(lang='en')
  head
  body(style="margin: 0")
    iframe(width="700" height="500" src="https://web.powerapps.com/webplayer/iframeapp?source=iframe&screenColor=rgba(104,101,171,1)&appId=/providers/Microsoft.PowerApps/apps/cd297ddd-340c-4872-8c74-bf03702fa588")