extends layout.pug

block content
  div(class='font-semibold font-title') Microsoft Teams Task Modules Demo
  p A task module allows Teams app developers to create one or more custom, modal experiences with custom code for their users, particularly useful for initiating and/or completing tasks using a GUI that does not litter a Teams conversation with superfluous, intermediate task completion information.
  p Let's try it out!
    div(id="buttons" style="text-align: center; margin-left: auto; margin-right: auto")
      button(class="taskModuleButton button-primary" id="YouTube") YouTube (Teams SDK)
      div <a id="dlYouTube" onclick="deepLinkAlert(event)">Deep Link</a>
      p
      button(class="taskModuleButton button-primary" id="PowerApp") PowerApp (Teams SDK)
      div <a id="dlPowerApps" onclick="deepLinkAlert(event)">Deep Link</a>
      p
      button(class="taskModuleButton button-primary" id="customform") Custom Form (Teams SDK)
      div <a id="dlCustomForm" onclick="deepLinkAlert(event)">Deep Link</a>
      p
      button(class="taskModuleButton button-primary" id="adaptivecard1") Adaptive Card (Teams SDK)
      div <a id="dlAdaptiveCard" onclick="deepLinkAlert(event)">Deep Link</a>
  script.
    // Wire up event handler for the click event
    document.getElementsByClassName("taskModuleButton").forEach(function(button) {
      button.onmousedown = deepLinkAlert;
    });

    function deepLinkAlert(event) {
      // If the left button is clicked, show an error message
      if (event.which === 1) {
        alert("Task module links can't be used from within a tab, but you can copy the link to the clipboard and use it from outside Teams.");
        event.preventDefault();
      }
    }
